# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Expo
.expo/
dist/
web-build/

# Native
/ios/
/android/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Build
build/
*.apk
*.aab

# Temporary files
*.orig.*
